[Unit]
Description=Restore Sound Card State
DefaultDependencies=no
After=sysinit.target
Before=shutdown.target
Conflicts=shutdown.target
ConditionPathExists=/var/lib/alsa/asound.state

[Service]
Type=oneshot
ExecStart=-/usr/sbin/alsactl restore
StandardOutput=syslog
